#page {
	width:100%;
}

#header {
	position:relative;
}

#header img.quit {
	position:absolute;
	right:5px;
	top:5px;
}

#header img.back {
	position:absolute;
	left:5px;
	top:5px;
}

#header img:hover {
	cursor:pointer;
}

#content {
	text-align:center;
}
